{% extends "auctions/layout.html" %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <h1>{{ listing.title }}</h1>
    {% if listing.image %}
    <div class="container-sm"><img src="{{listing.image.url}}" class="img-thumbnail" alt="{{listing.title}}"></div>
    {% endif %}
    <p>{{ listing.date|date:"l, jS M Y" }}</p>
    <p>{{ listing.description|safe }}</p>
    <p><strong>Current Bid: </strong>{{ latest_bid.bid }}$</p>
    <div class="input-group mb-3">
    {% if user.is_authenticated %}
    {% if request.user != listing.user %}
    <form action="{% url 'bid' listing.id %}" method="POST">
      {% csrf_token %}
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="text" name="bid" class="form-control" placeholder="Place a Bid" aria-label="Dollar amount (with dot and two decimal places)">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Bid</button>
      </form>
      {% endif %}
        <form action="{% url 'listing' listing.id %}" method="POST">
            {% csrf_token %}
            {% if user == listing.user and not listing.closed %}
            <button type="submit" name="close" class="btn btn-danger btn-lg">Close</button>
        {% endif %}
        </form>
        <form action="{% url 'add_to_watchlist' listing.id %}" method="POST">
            {% csrf_token %}
            {% if request.user != listing.user %}
            {% if not in_watchlist %}
            <button type="submit" class="btn btn-primary btn-lg">Add to watchlist</button>
            {% else %}
            <button type="submit" class="btn btn-danger btn-lg">Remove from Watchlist</button>
            {% endif %}
            {% endif %}
            </form>
        </div>
        <div class="comment">
        <form action="{% url 'comment' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Write a comment</label>
                <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write your comment here..."></textarea>
                <button type="submit" class="btn btn-primary btn-lg">Publish</button>
            </div>
        </form>
        </div>
    {% endif %}
    {% for comment in comments %}
    <div class="card">
        <div class="card-header">
          {{ comment.user.username }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ comment.comment }}</p>
        </div>
      </div>
    {% endfor %}

{% endblock %}